---
const response = await fetch("http://localhost:4321/diaries.json").then((res) =>
  res.json()
);
let diaries = response.data;
diaries.sort((a, b) => {
  const timeA = new Date(`1970-01-01T${a.attributes.diary_hour}Z`);
  const timeB = new Date(`1970-01-01T${b.attributes.diary_hour}Z`);
  return timeA - timeB;
});
---

<div
  class="w-full py-0 px-0 flex flex-col mt-5 mx-auto align-middle md:py-3 md:px-4 bg-[#80808030] rounded-lg md:w-5/6"
>
  <input
    type="text"
    placeholder="Buscar partido"
    class="w-full bg-[#80808050] p-2 rounded-lg text-white border-2 border-green-700 py-3"
  />
  <ul class="w-full mt-2">
    {
      diaries.map((diary) => {
        return (
          <li class="bg-neutral-200 rounded-lg w-full px-3 mt-2">
            <div class="flex w-full justify-between flex-row font-bold text-xl cursor-pointer items-center">
              <div class="flex items-center text-base">
                {diary.attributes.deportes}
                <span class="team-color-icon" />
                <span class="match-name">
                  {diary.attributes.diary_description}
                </span>
              </div>
              <span class="match-time">{diary.attributes.diary_hour}</span>
            </div>
            <div class="submenu">
              <ul class="flex flex-col">
                {diary.attributes.embeds.data.map((embed) => {
                  return (
                    <li class="hover:text-green-600">
                      <a class="text-sm" href={embed.attributes.embed_iframe}>
                        {embed.attributes.embed_name}
                      </a>
                    </li>
                  );
                })}
              </ul>
            </div>
          </li>
        );
      })
    }
  </ul>

  <style>
    li {
      list-style: none;
    }

    .team-color-icon {
      display: flex;
      flex-direction: row;
      background-color: rgb(22 163 74 / var(--tw-text-opacity, 1));
      width: 5px;
      height: 20px;
      margin: 1rem;
    }

    .match-name {
      display: flex;
      flex-direction: column;
      font-weight: lighter;
      color: #646464;
    }

    .match-time {
      font-size: 1rem;
      font-weight: lighter;
      background-color: #80808090;
      padding: 0 0.5rem;
      height: fit-content;
      border-radius: 20px;
    }

    .submenu {
      width: 100%;
      background-color: #e6e6e6;
      border-radius: 5px;
      font-size: 0.9rem;
      max-height: 0; /* Oculto por defecto */
      overflow: hidden;
      transition:
        max-height 0.3s ease,
        opacity 0.3s ease,
        padding 0.3s ease,
        /* Añade transición para el padding */ margin-top 0.3s ease; /* Añade transición para el margin-top */
      opacity: 0;
      padding: 0; /* Sin padding por defecto */
      margin-top: 0; /* Sin margin-top por defecto */
    }

    .submenu.visible {
      max-height: 500px; /* Ajusta según el contenido */
      opacity: 1;
      padding: 0.5rem; /* Aplica padding cuando es visible */
    }
    @keyframes slideIn {
      0% {
        max-height: 0;
      }
      50% {
        max-height: fit-content;
      }
      100% {
        max-height: fit-content;
      }
    }
  </style>
</div>

<script>
  document.querySelectorAll("li").forEach((li) => {
    li.addEventListener("click", (event) => {
      event.stopPropagation();

      // Hide all other submenus
      document.querySelectorAll(".submenu.visible").forEach((submenu) => {
        if (submenu !== li.querySelector(".submenu")) {
          submenu.classList.remove("visible");
        }
      });

      // Toggle the clicked submenu
      const submenu = li.querySelector(".submenu");
      if (submenu) {
        submenu.classList.toggle("visible");
      }
    });
  });

  const searchInput = document.querySelector('input[type="text"]');
  searchInput.addEventListener("input", function () {
    const query = searchInput.value.toLowerCase();
    const diaryItems = document.querySelectorAll("ul > li");

    diaryItems.forEach((item) => {
      const deportes =
        item.querySelector(".text-base")?.textContent.toLowerCase() || "";
      const description =
        item.querySelector(".match-name")?.textContent.toLowerCase() || "";

      if (deportes.includes(query) || description.includes(query)) {
        item.style.display = "block";
      } else {
        item.style.display = "none";
      }
    });
  });
</script>
